extends ../layout

block content
    h1.
        #{title}
    ul
        - each cancha, i in canchas
        li
            p
            = "Nombre:  " + cancha.name
            p
            = "Longitude:  " + cancha.location[0]
            p
            = "Latitude:   " + cancha.location[1]
            p
            = "UUID:    " + cancha._id
            form(action='/api/canchas/#{cancha._id}/edit',method='post',enctype='application/x-www-form-urlencoded')
                input(type='hidden',value='DELETE',name='_method')
                button(type='submit').
                    Delete
            p
                a(href='/api/canchas/#{cancha._id}/edit') Edit
            p
                a(href='/api/canchas/#{cancha._id}') Show
